body {
	margin: 0;
	font-family: "Nunito", "Arial", "Helvetica", sans-serif;
	background-image: url("https://www.hellabrunn.de/fileadmin/_processed_/csm_Freisteller_Manul_dd34487dc4.png"), url(./assets/forest.jpg);
	background-repeat: no-repeat;
	background-position: 35% 70%, center bottom;
	background-size: 300px, cover;
	background-attachment: fixed;
}
a {
	color: inherit;
	text-decoration: none;
}
#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container {
	max-width: 1000px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}